.progress-bar {
    display: block;
    position: relative;
    width: 210px;
    height: 13px;
    border-radius: 13px;
    background-color: #fff;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
}

    .progress-bar__bar {
        height: 100%;
        width: 20%;
        border-radius: inherit;
        background: #28bf14;
        background: linear-gradient(0deg, #28bf14 0%, #8bda1a 14%, #28bf14 49%, #abff58 100%);
        transition: width 1s;
    }

    .progress-bar__progress {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        font-family: Verdana, sans-serif;
        font-size: 9px;
        text-align: center;
        vertical-align: middle;
        line-height: 13px;
    }